<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <title>About Me.</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Saira Extra Condensed' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Bad Script' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Josefin Sans' rel='stylesheet'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body style="overflow-x:hidden;">
	
	<!--Header-->
	<nav class="navbar navbar-default" style="width:100%; margin-bottom:0px ;border: 0px;">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>                        
				</button>
			<a class="navbar-brand logo" href="#">Yafia.</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li class="nav-btn"><a href="{% url 'homepage:home' %}">Home</a></li>
					<li class="nav-btn"><a href="{% url 'homepage:aboutMe' %}">Profile</a></li>
					<li class="nav-btn"><a href="{% url 'homepage:mySkills' %}">Skills</a></li>
					<li class="nav-btn"><a href="{% url 'homepage:myProjects' %}">Projects</a></li>
					<li class="nav-btn"><a href="{% url 'homepage:testform' %}">Form</a></li>
					<li class="nav-btn"><a href="{% url 'homepage:myfriend' %}">My Friends</a></li>
				</ul>
			</div>
		</div>
	</nav>
	
	<!--About Me. Section-->
	<div class="container-xl home" id="home2" style="overflow-x:hidden; padding:0; margin-top:0; width:100%; height:auto;">
		<div class="col-sm-7 section">
			<h5 id="title2">About Me.</h5>
			<img src="{% static 'about me photo.jpg' %}" id="photo" alt="photo">
		</div>
		<div class="col-sm-5 section">
			<p id="homeText2">
				Hello!, my name is Yafi Ahsan Hakim,<br>
				i’m currently a student at the University of <br>
				Indonesia. I’m studying computer science to <br>
				become a profesional programmer in the<br>
				future. I like to spend my free time by <br>
				watching some interesting videos on the <br>
				internet.	
			</p>
		</div>
	</div>
	
	
	<!--My Social Media. Section-->
	<div class="container-xl" style="overflow-x:hidden; padding:0; margin-top:0;">
		<div class="col-sm-8 section" id="socialMediaLeft">
			<div class="col-sm-1" style="margin-left:15vw; margin-top:16vh;">
				<a href="https://twitter.com/PlotadYafi">
					<img src="{% static 'twitter.png' %}" class="linkImage" alt="twitter">
				</a>
				<a href="https://www.instagram.com/yafiahakim/">
					<img src="{% static 'instagram.png' %}" class="linkImage" alt="instagram">
				</a>
				<a href="http://steamcommunity.com/id/PlotadYafi/">
					<img src="{% static 'steam.png' %}" class="linkImage" alt="steam">
				</a>
			</div>
			<div class="col-sm-4" id="textLink">
				<a href="https://twitter.com/PlotadYafi"><p class="linkText" style="margin-top:17vh;">Twitter: @PlotadYafi</p></a>
				<a href="https://www.instagram.com/yafiahakim/"><p class="linkText">Instagram: @yafiahakim</p></a>
				<a href="http://steamcommunity.com/id/PlotadYafi/"><p class="linkText">Steam: PlotadYafi</p></a>
			</div>				
		</div>
		<div class="col-sm-4 section">
			<br>
			<br>
			<hr style="border-top: 0.5vh solid grey;">
			<h1 id="title2">My <br>Social <br>Media.</h1>
			<hr style="border-top: 0.5vh solid grey;">
		</div>
	</div>

	<!--Footer-->
	<nav class="navbar navbar-default" style="width:100%; margin-bottom:0px ;border: 0px;">
		<div class="container-fluid" id="footer">
			
			<a class="navbar-brand logo" href="#">Yafia.</a>
			
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li class="nav-btn"><a href="{% url 'homepage:home' %}">Home</a></li>
					<li class="nav-btn"><a href="{% url 'homepage:aboutMe' %}">Profile</a></li>
					<li class="nav-btn"><a href="{% url 'homepage:mySkills' %}">Skills</a></li>
					<li class="nav-btn"><a href="{% url 'homepage:myProjects' %}">Projects</a></li>
					<li class="nav-btn"><a href="{% url 'homepage:testform' %}">Form</a></li>
					<li class="nav-btn"><a href="{% url 'homepage:myfriend' %}">My Friends</a></li>
				</ul>
			</div>
		</div>
	</nav>
	
	<!--Challenge-->
	{% include 'copyright.html' %}
</body>
</html>