<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <title>Yafia.</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Saira Extra Condensed' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Bad Script' rel='stylesheet'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body style="overflow-x:hidden;">
	
	<!--Header-->
	<nav class="navbar navbar-default" style="width:100%; margin-bottom:0px ;border: 0px;">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>                        
				</button>
			<a class="navbar-brand logo" href="#">Yafia.</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li class="nav-btn"><a href="{% url 'homepage:home' %}">Home</a></li>
					<li class="nav-btn"><a href="{% url 'homepage:aboutMe' %}">Profile</a></li>
					<li class="nav-btn"><a href="{% url 'homepage:mySkills' %}">Skills</a></li>
					<li class="nav-btn"><a href="{% url 'homepage:myProjects' %}">Projects</a></li>
					<li class="nav-btn" data-toggle="modal" data-target="#myModal"><a>Modal</a></li>
					<li class="nav-btn"><a href="{% url 'homepage:testform' %}">Form</a></li>
					<li class="nav-btn"><a href="{% url 'homepage:myfriend' %}">My Friends</a></li>
				</ul>
			</div>
		</div>
	</nav>
	
	<!--Home-->
	<div class="container-xl home" id="home1" style="overflow-x:hidden; padding:0; margin-top:0; width:100%">
		<h5 id="title1">This Is My <br>Personal <br>Website.</h5>
	</div>
	
	<!--About Me. Section-->
	<div class="container-xl" style="overflow-x:hidden; padding:0; margin-top:0;">
		<div class="col-sm-6 section" style="background-color:#C8FFE4;">
			<h1 class="SectionHeading" style="padding-top:0;">ABOUT ME.</h1>
			<p id="SectionText1">
				If you are interested in knowing more about <br>
				me, consider clicking this button to <br>
				see my profile.
			</p>
			<a href="{% url 'homepage:aboutMe' %}">
				<button class="btn" id="profile">Profile</button>
			</a>
		</div>
		<div class="col-sm-6 section" style="background-color:#000000;">
			<img src="{% static 'user (1).png' %}" class="icon" alt="profile">
		</div>
	</div>
	
	<!--My Skills. Section-->
	<div class="container-xl" style="overflow-x:hidden; padding:0; margin-top:0;">
		<div class="col-sm-6 section" style="background-color:#000000;">
			<img src="{% static 'edu & skills.png' %}" class="icon" alt="skills">
		</div>
		<div class="col-sm-6 section" style="background-color:#F8FFCA;">
			<h1 class="SectionHeading" style="padding-top:0;">MY SKILLS.</h1>
			<p id="SectionText1">
				Look at what skills i have learned <br>
				as a programmer here. If you’re interested, <br>
				consider hiring me to work on your projects.
			</p>
			<a href="{% url 'homepage:mySkills' %}">
				<button class="btn" id="skills">Skills</button>
			</a>
		</div>
	</div>
	
	<!--My Projects. Section-->
	<div class="container-xl" style="overflow-x:hidden; padding:0; margin-top:0;">
		<div class="col-sm-6 section" style="background-color:#FFBBBB;">
			<h1 class="SectionHeading" style="padding-top:0;">MY PROJECTS.</h1>
			<p id="SectionText1" style="padding-left:3vw;">
				If you’are a fellow computer science student <br>
				and are interested in some of my project, here is <br>
				where you can find the links to the gitlab repository <br>
				of some my projects.
			</p>
			<a href="{% url 'homepage:myProjects' %}">
				<button class="btn" id="projects">Projects</button>
			</a>
		</div>
		<div class="col-sm-6 section" style="background-color:#000000;">
			<img src="{% static 'my projects 2.png' %}" class="icon" alt="projects">
		</div>
	</div>

	<!-- The Modal -->
	<div class="modal" id="myModal">
		<div class="modal-dialog">
			<div class="modal-content">
		  
				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">KEKW</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
			
				<!-- Modal body -->
				<div class="modal-body">
					<img src="{% static 'kekw.png' %}">
					<img src="{% static 'kekw.png' %}">
					<img src="{% static 'kekw.png' %}">
					<img src="{% static 'kekw.png' %}">
					<img src="{% static 'kekw.png' %}">
					<img src="{% static 'kekw.png' %}">
					<img src="{% static 'kekw.png' %}">
					<img src="{% static 'kekw.png' %}">
					<img src="{% static 'kekw.png' %}">
					<img src="{% static 'kekw.png' %}">
					<img src="{% static 'kekw.png' %}">
					<img src="{% static 'kekw.png' %}">
				</div>
			
				<!-- Modal footer -->
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	
	<!--Footer-->
	<nav class="navbar navbar-default" style="width:100%; margin-bottom:0px ;border: 0px;">
		<div class="container-fluid" id="footer">
			
			<a class="navbar-brand logo" href="#">Yafia.</a>
			
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li class="nav-btn"><a href="{% url 'homepage:home' %}">Home</a></li>
					<li class="nav-btn"><a href="{% url 'homepage:aboutMe' %}">Profile</a></li>
					<li class="nav-btn"><a href="{% url 'homepage:mySkills' %}">Skills</a></li>
					<li class="nav-btn"><a href="{% url 'homepage:myProjects' %}">Projects</a></li>
					<li class="nav-btn"><a href="{% url 'homepage:testform' %}">Form</a></li>
					<li class="nav-btn"><a href="{% url 'homepage:myfriend' %}">My Friends</a></li>
				</ul>
			</div>
		</div>
	</nav>
	
	<!--Challenge-->
	{% include 'copyright.html' %}
</body>
</html>