<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <title>My Projects.</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Saira Extra Condensed' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Josefin Sans' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Bungee' rel='stylesheet'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body style="overflow-x:hidden;">
	
	<!--Header-->
	<nav class="navbar navbar-default" style="width:100%; margin-bottom:0px ;border: 0px;">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>                        
				</button>
			<a class="navbar-brand logo" href="#">Yafia.</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li class="nav-btn"><a href="{% url 'homepage:home' %}">Home</a></li>
					<li class="nav-btn"><a href="{% url 'homepage:aboutMe' %}">Profile</a></li>
					<li class="nav-btn"><a href="{% url 'homepage:mySkills' %}">Skills</a></li>
					<li class="nav-btn"><a href="{% url 'homepage:myProjects' %}">Projects</a></li>
					<li class="nav-btn"><a href="{% url 'homepage:testform' %}">Form</a></li>
					<li class="nav-btn"><a href="{% url 'homepage:myfriend' %}">My Friends</a></li>
				</ul>
			</div>
		</div>
	</nav>
	
	<!--Home-->
	<div class="container-xl home" id="home4" style="overflow-x:hidden; padding:0; margin-top:0; width:100vw; height:100vh;">
		<h5 id="title4">My Project.</h5>
		<p id="homeText4">
			If you're a fellow computer science student <br>
			and are interested in some of my project, <br>
			below is where you can find the links to the <br>
			gitlab repository of some of my projects. <br>
			Feel free to look at them!
		</p>
	</div>
	
	<!--Top Projects Section-->
	<div class="container-xl" style="overflow-x:hidden; padding:0; margin-top:0;">
		<!--The Art of Git Section-->
		<div class="col-sm-6 section" style="background-color:#FEE58C; height:70vh">	
			<h1 class="ProjectName" style="padding-top:0;">The Art of git</h1>	
			<p id="SectionText4">
				This project contains step-by-step tutorial on how to use Git. <br>
				this project is perfect for those who want to <br>
				learn how to use git.
			</p>
			<a href="https://gitlab.com/YafiAhsanHakim/the-art-of-git.git">
				<button class="btn" id="TheArtOfGit">Gitlab Repository</button>
			</a>
		</div>
		<!--Adprog Tutorial Section-->
		<div class="col-sm-6 section" style="background-color:#92CAFF; height:70vh">
			<h1 class="ProjectName" style="padding-top:0;">Adprog Tutorial</h1>
			<p id="SectionText4">
				This project contains exercises about advanced programming <br>
				that i have been taking. you can definitely increase your <br>
				programming skills if you do this exercises!
			</p>
			<a href="https://gitlab.com/YafiAhsanHakim/adprog-tutorial.git">
				<button class="btn" id="AdprogTutorial">Gitlab Repository</button>
			</a>
		</div>
	</div>
	
	<!--Bot Projects Section-->
	<div class="container-xl" style="overflow-x:hidden; padding:0; margin-top:0;">
		<!--PPWLab1 Section-->
		<div class="col-sm-6 section" style="background-color:#95FF9F; height:70vh">
			<h1 class="ProjectName" style="padding-top:0; margin-left:15vw">PPWLab1</h1>
			<p id="SectionText4">
				In this project, you can learn how to develop your own website <br>
				using html and css language. 
			</p>
			<a href="https://gitlab.com/YafiAhsanHakim/ppwlab1.git">
				<button class="btn" id="PPWLab1">Gitlab Repository</button>
			</a>
		</div>
		<!--Coming Soon... Section-->
		<div class="col-sm-6 section" style="background-color:#FF8585; height:70vh">
			<h1 class="ProjectName" style="margin-left:10vw; padding-top:21vh; font-size:4vw;">COMING SOON...</h1>
		</div>
	</div>

	<!--Footer-->
	<nav class="navbar navbar-default" style="width:100%; margin-bottom:0px ;border: 0px;">
		<div class="container-fluid" id="footer">
			
			<a class="navbar-brand logo" href="#">Yafia.</a>
			
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li class="nav-btn"><a href="{% url 'homepage:home' %}">Home</a></li>
					<li class="nav-btn"><a href="{% url 'homepage:aboutMe' %}">Profile</a></li>
					<li class="nav-btn"><a href="{% url 'homepage:mySkills' %}">Skills</a></li>
					<li class="nav-btn"><a href="{% url 'homepage:myProjects' %}">Projects</a></li>
					<li class="nav-btn"><a href="{% url 'homepage:testform' %}">Form</a></li>
					<li class="nav-btn"><a href="{% url 'homepage:myfriend' %}">My Friends</a></li>
				</ul>
			</div>
		</div>
	</nav>
	
	<!--Challenge-->
	{% include 'copyright.html' %}
</body>
</html>