<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <title>My Skills.</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Saira Extra Condensed' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Bad Script' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Josefin Sans' rel='stylesheet'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body style="overflow-x:hidden;">
	
	<!--Header-->
	<nav class="navbar navbar-default" style="width:100%; margin-bottom:0px ;border: 0px;">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>                        
				</button>
			<a class="navbar-brand logo" href="#">Yafia.</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li class="nav-btn"><a href="{% url 'homepage:home' %}">Home</a></li>
					<li class="nav-btn"><a href="{% url 'homepage:aboutMe' %}">Profile</a></li>
					<li class="nav-btn"><a href="{% url 'homepage:mySkills' %}">Skills</a></li>
					<li class="nav-btn"><a href="{% url 'homepage:myProjects' %}">Projects</a></li>
					<li class="nav-btn"><a href="{% url 'homepage:testform' %}">Form</a></li>
					<li class="nav-btn"><a href="{% url 'homepage:myfriend' %}">My Friends</a></li>
				</ul>
			</div>
		</div>
	</nav>
	
	<!--My Skills. Section-->
	<div class="container-xl home" id="home3" style="overflow-x:hidden; padding:0; margin-top:0; width:100%; height:110vh;">
		<h5 id="title3">My Skills.</h5>
		<p id="homeText3">
			I’ve studied <b>programming</b> using <br>
			both <b>python language</b> <br>
			and <b>java language.</b> <br>
			<b>Making a website</b> using <br>
			<b>HTML language</b> is no problem for me. <br>
			I can also <b>create a database</b> using <br>
			<b>postgreSQL.</b>
		</p>
	</div>
	
	<!--Footer-->
	<nav class="navbar navbar-default" style="width:100%; margin-bottom:0px ;border: 0px;">
		<div class="container-fluid" id="footer">
			
			<a class="navbar-brand logo" href="#">Yafia.</a>
			
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li class="nav-btn"><a href="{% url 'homepage:home' %}">Home</a></li>
					<li class="nav-btn"><a href="{% url 'homepage:aboutMe' %}">Profile</a></li>
					<li class="nav-btn"><a href="{% url 'homepage:mySkills' %}">Skills</a></li>
					<li class="nav-btn"><a href="{% url 'homepage:myProjects' %}">Projects</a></li>
					<li class="nav-btn"><a href="{% url 'homepage:testform' %}">Form</a></li>
					<li class="nav-btn"><a href="{% url 'homepage:myfriend' %}">My Friends</a></li>
				</ul>
			</div>
		</div>
	</nav>
	
	<!--Challenge-->
	{% include 'copyright.html' %}
</body>
</html>