<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <title>Form.</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Saira Extra Condensed' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Bad Script' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Josefin Sans' rel='stylesheet'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body style="overflow-x:hidden;">

	<!--Header-->
	<nav class="navbar navbar-default" style="width:100%; margin-bottom:0px ;border: 0px;">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>                        
				</button>
			<a class="navbar-brand logo" href="#">Yafia.</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li class="nav-btn"><a href="{% url 'homepage:home' %}">Home</a></li>
					<li class="nav-btn"><a href="{% url 'homepage:aboutMe' %}">Profile</a></li>
					<li class="nav-btn"><a href="{% url 'homepage:mySkills' %}">Skills</a></li>
					<li class="nav-btn"><a href="{% url 'homepage:myProjects' %}">Projects</a></li>
					<li class="nav-btn"><a href="{% url 'homepage:testform' %}">Form</a></li>
					<li class="nav-btn"><a href="{% url 'homepage:myfriend' %}">My Friends</a></li>
				</ul>
			</div>
		</div>
	</nav>
	
	<h1 id="title3" style="color: #000000;">My Friends</h1>
	
	<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner">
			{% for friend in allFriend %}
				<div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}" id="slide{{ forloop.counter }}">
					<div class="box3">
						<br>
						<hr>
					<div class="container">
						<div class="row">
							<div class="col-sm-2" style="margin-left: 0">
								<h2 id="SectionText4" style="margin-left:0; font-size:5vh">Name      :</h2>
							</div>
							<div class="col-sm">
								<h2 id="SectionText4" style="margin-left:10vw; font-size:5vh">{{ friend.name }}</h2>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-2" style="margin-left: 0">
								<h2 id="SectionText4" style="margin-left:0; font-size:5vh">Class Year:</h2>
							</div>
							<div class="col-sm">
								<h2 id="SectionText4" style="margin-left:10vw; font-size:5vh">{{ friend.year }}</h2>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-2" style="margin-left: 0">
								<h2 id="SectionText4" style="margin-left:0; font-size:5vh">Hobby     :</h2>
							</div>
							<div class="col-sm">
								<h2 id="SectionText4" style="margin-left:10vw;font-size:5vh">{{ friend.hobby }}</h2>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-2" style="margin-left: 0">
								<h2 id="SectionText4" style="margin-left:0; font-size:5vh">Food      :</h2>
							</div>
							<div class="col-sm">
								<h2 id="SectionText4" style="margin-left:10vw; font-size:5vh">{{ friend.favoriteFood }}</h2>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-2" style="margin-left: 0">
								<h2 id="SectionText4" style="margin-left:0; font-size:5vh">Drink      :</h2>
							</div>
							<div class="col-sm">
								<h2 id="SectionText4" style="margin-left:10vw; font-size:5vh">{{ friend.favoriteDrink }}</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
			<hr>
		</div>
	</div>
</body>
</html>
