<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <title>Form.</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Saira Extra Condensed' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Bad Script' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Josefin Sans' rel='stylesheet'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body style="overflow-x:hidden; background-color: #C8FFE4;">

	<!--Header-->
	<nav class="navbar navbar-default" style="width:100%; margin-bottom:0px ;border: 0px;">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>                        
				</button>
			<a class="navbar-brand logo" href="#">Yafia.</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li class="nav-btn"><a href="{% url 'homepage:home' %}">Home</a></li>
					<li class="nav-btn"><a href="{% url 'homepage:aboutMe' %}">Profile</a></li>
					<li class="nav-btn"><a href="{% url 'homepage:mySkills' %}">Skills</a></li>
					<li class="nav-btn"><a href="{% url 'homepage:myProjects' %}">Projects</a></li>
					<li class="nav-btn"><a href="{% url 'homepage:testform' %}">Form</a></li>
					<li class="nav-btn"><a href="{% url 'homepage:myfriend' %}">My Friends</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<br><br><br><br>
	<h1 id="title3" style="color: #000000; margin-top:0;">Add Friends</h1>

	<form method="post" action="{% url 'homepage:testform' %}">
		{% csrf_token %}
		<div style="margin-left: 10px; margin-right: 10px;">
			<div class="form-row">
				<div class="col-sm-1"></div>
					<div class="form-group col-sm-10">
					{% for fields in form %}
						{{ fields.label_tag }}
							<br>
						{{ fields }}
					{% endfor %}
				</div>
			</div>
			<div class="form-row">
				<input class="btn" id="profile" style="border:1vw solid black; font-size:3vh;" type="submit" value="Submit">
			</div>
		</div>
	</form>
	<br>
	<br>
	<br>
</body>
</html>

