.logo {
	padding-top: 12px;
	font-family: Pacifico;
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 3vh;
	background: -webkit-linear-gradient(#000000 0%, rgba(53, 6, 153, 0.7948)  99.97%, rgba(0, 0, 0, 0.6771) 99.98%, rgba(83, 38, 180, 0.6771) 99.99%, rgba(0, 0, 0, 0) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}


.navbar.navbar-default {
	width: 100vw;
	border-width:0px
}

.nav-btn{
	padding: 0.5vh; 
	font-family: Saira Extra Condensed;
	font-style: normal;
	font-weight: 200;
	font-size: 18px;
	line-height: 2vh;

	color: #000000;
}

.nav-btn:hover {
	background-color: #DFC2FD;
	color: black;
}

#modal-btn{
	padding: 0.5vh; 
	font-family: Saira Extra Condensed;
	font-style: normal;
	font-weight: 200;
	font-size: 18vh;
	line-height: 2vh;

	color: #000000;
}

#modal-btn:hover {
	background-color: #DFC2FD;
	color: black;
}

.section {
	height: 100vh;
	padding:0;
}

.home {
	height: 100vh;
	width: 100vw;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	z-index: -1;
}

#home1 {
    background-image: url("/static/home background 2.jpg");
}

#home2 {
    background-color: #EDEDED;
}

#home3 {
	background-image: url("/static/skills background.jpg");
}

#home4 {
	background-image: #EDEDED;
}

.border {
	border-style: inset;
	border-width: 30px;
	border-color: grey;
}

#title1 {
	margin-left: 8vw;
	margin-top: 6vh;
	font-family: Bad Script;
	font-style: normal;
	font-weight: 100;
	font-size: 14vh;
	
	line-height: 25vh;
	background: -webkit-linear-gradient(#000000 0%, rgba(53, 6, 153, 0.7948)  99.97%, rgba(0, 0, 0, 0.6771) 99.98%, rgba(83, 38, 180, 0.6771) 99.99%, rgba(0, 0, 0, 0) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

	display: flex;
	align-items: center;
}

#title2 {
	padding: 0;
	margin-left: 2vw;
	font-family: Josefin Sans;
	font-style: lighter;
	font-weight: 100;
	font-size: 12vh;
	line-height: 12vh;
	
	color: #000000;
	
	display: flex;
	align-items: center;
}

#title3 {
	margin-top: 5vh;
	margin-left: 5vw;
	font-family: Josefin Sans;
	font-style: lighter;
	font-weight: 100;
	font-size: 12vh;
	line-height: 19vh;
	
	color: #FFFFFF;
	
	display: flex;
	align-items: center;	
}

#title4 {
	margin-top: 15vh;
	margin-left: 10vw;
	font-family: Josefin Sans;
	font-style: lighter;
	font-weight: 100;
	font-size: 14vw;
	line-height: 19vh;
	
	color: #000000;
	
	display: flex;
	align-items: center;
}

#homeText2 {
	margin-top: 29vh;
	margin-left: 4vw;
	position: relative;
	font-family: Josefin Sans;
	font-style: lighter;
	font-weight: 50;
	font-size: 2.8vh;
	line-height: 6.5vh;
	color: #000000;
}

#homeText3 {
	margin-top: 5vh;
	margin-left: 4vw;
	position: relative;
	font-family: Josefin Sans;
	font-style: lighter;
	font-weight: 50;
	font-size: 2.5vw;
	line-height: 8vh;
	color: #FFFFFF;
}

#homeText4 {
	margin-top: 5vh;
	margin-left: 10vw;
	position: relative;
	font-family: Josefin Sans;
	font-style: lighter;
	font-weight: 50;
	font-size: 4vw;
	line-height: 8vh;
	color: #000000;
}

b {
	font-weight: bold;
	font-size: 3.5vw;
}

.SectionHeading {
	font-family: Saira Extra Condensed;
	font-style: normal;
	font-weight: 900;
	font-size: 11.5vw; 
	line-height: 18vh;
	display: flex;
	align-items: left;
	margin-top: 0;
	margin-left:0;

	color: #000000;
}

#SectionText1 {
	font-family: Saira Extra Condensed;
	font-style: normal;
	font-weight: 900;
	font-size: 3vw; 
	line-height: 9vh;
	display: flex;
	align-items: center;
	text-align: left;
	padding-left:5vw; 
	margin-top:5vw;
	
	color: #000000;
}

#SectionText4 {
	margin-top: 2vh;
	margin-left:5vw;
	font-family: Saira Extra Condensed;
	font-style: normal;
	font-weight: 900;
	font-size: 2.2vw;
	line-height: 6vh;
	display: flex;
	align-items: center;
	text-align: center;

	color: #000000;
}

label {
	font-family: Saira Extra Condensed;
	font-size: 2.5vh;
}

.icon {
	margin: 25vh;
	width: 25vw; 
	height: auto;
}

#photo {
	position: relative;
	margin-top: 10vh;
	margin-left: 25vw;
	height: 34vh;
	width: 16vw;
	min-height: 300px;
	min-width: 300px;
	border-style: double;
	border-width: 30px;
	border-color: grey;
}

#socialMediaLeft {
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 60vw 120vh;
	position: relative;
}

.linkImage {
	margin-top: 5vh;
	margin-left: 3vw;
	height: 10vh;
	width: auto;
}

.linkText {
	position: relative;
	margin-top: 9vh;
	margin-left: 4vw;
	font-family: Josefin Sans;
	font-style: lighter;
	font-weight: 50;
	font-size: 3.5vh;
	line-height: 6.5vh;
	cursor: pointer;
	color: #000000;
}

.linkContainer {
	margin-left: 15vw;
	padding-bottom:4vh;
}

#textLink {
	width: 40vw;
	margin-top: 5vh;
}

.ProjectName {
	margin-top: 0;
	margin-left:10vw;
	font-family: Bungee;
	font-style: normal;
	font-weight: 900;
	font-size: 3vw;
	line-height: 18vh;
	display: flex;
	align-items: left;
	
	color: #000000;
}

.btn {
	margin-left:15vw;
	margin-top:5vh;
	min-width: 150px;
	cursor: pointer;
	width: 15vw;
	height: 12vh;
	
	font-family: Saira Extra Condensed;
	font-style: normal;
	font-weight: 800;
	font-size: 2vw; 
	
	color: #000000;
}

#profile {
	border: 1vw solid #000000;
	border-color: #000000;
	background-color: #C8FFE4;
}

#profile:hover {
	background-color: #83D8A5;
}

#skills {
	border: 1vw solid #000000;
	border-color: #000000;
	background-color: #F8FFCA;
}

#skills:hover {
	background-color: #DFD57B;
}

#projects {
	border: 1vw solid #000000;
	border-color: #000000;
	background-color: #FFBBBB;
}

#projects:hover {
	background-color: #FD7B7B;
}

#TheArtOfGit {
	margin-left:12.5vw;
	min-width: 300px;
	border-color: #000000;
	border: 1vh solid #000000;
	background-color: #FEE58C;
}

#TheArtOfGit:hover {
	background-color: #DECC6F;
}

#AdprogTutorial {
	margin-left:12.5vw;
	min-width: 300px;
	border-color: #000000;
	border: 1vh solid #000000;
	background-color: #92CAFF;
}

#AdprogTutorial:hover {
	background-color: #76ACD2;
}

#PPWLab1 {
	margin-top: 7vh;
	margin-left:12.5vw;
	min-width: 300px;
	border-color: #000000;
	border: 1vh solid #000000;
	background-color: #95FF9F;
}

#PPWLab1:hover {
	background-color: #9CD88D;
}

#footer {
	margin-bottom:0px; 
	border-top: 0.4vh solid purple;
}

#copyright {
	margin-left: 5px; 
	margin-top: 5px;
	font-family: Saira Extra Condensed;
	font-style: normal;
	font-weight: 200;
	font-size: 15px;
	
	color: #000000;
}